body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#game {
  position: relative;
  width: 800px;
  height: 400px;
  background-color: #ccc;
  overflow: hidden;
}

#player {
  position: absolute;
  bottom: 0;
  left: 50px;
  width: 200px;
  height: 100px; /* Adjust the height to match your character image */
  background-image: url("/img/karleeov_stormtrooper_cyberpunk_v5_cdd3b221-c1eb-4b07-8ee1-9d521c813144.png");
  background-size: cover;
  background-color: transparent; /* Remove the yellow background */
}
/* Add this style at the end of the file */
#enemy {
  position: absolute;
  bottom: 0;
  left: 300px;
  width: 50px;
  height: 50px;
  background-color: #00f;
}
/* Modify the #game styles */
#game {
  position: relative;
  width: 800px;
  height: 800px;
  background-color: #ccc;
  overflow: hidden;
  perspective: 1000px;
}

/* Add these styles at the end of the file */
#background {
  position: absolute;
  top: 0;
  left: 0;
  width: 1600px;
  height: 100%;
  /* background-image: url("/img/karleeov_neon_cross_cyberpunk_v5_cbcb5ed6-9ec2-4353-a671-acc48274aa3c.png"); */
  background-repeat: repeat-x;
}

#arrow {
  position: absolute;
  bottom: 50px;
  left: 800px;
  width: 40px;
  height: 20px;
  background-color: #0f0;
  transform: rotate(-45deg);
}
